/*
Custom CSS file to override defaults
*/

/* Set max-width for views */
#page-wrapper > .wrapper.wrapper-content.animated.fadeInRight {
    max-width: 1100px;
}

.clickable-row:hover {
    cursor: pointer;
}

.textarea{
    font-size: 70px;
}

.rowhidden {
    
visibility: hidden;
display: none;
}


/*
Custom CSS file to override defaults
*/


/* Set max-width for views */
#page-wrapper > .wrapper.wrapper-content.animated.fadeInRight {
    max-width: 1100px;
}

.clickable-row:hover {
    cursor: pointer;
}
/*
* Custom CSS for admin left nav filter
*/
/* Set height for form group */
.form-group {
    height: auto;
}

.filter-ui-label {
    width: 15%;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    margin-left: 2px;
}
.form-control {
    width: 80%;
    margin: 2px;
}

.filter-ui-left {
    float: left;
}
.filter-ui-middle {
    clear: both;
}
.filter-ui-right {
    float: right;
}

.form-group {
    height: auto;
}
.filter-ui-radio {
   padding-left: 35%;
   clear:both;
   height: 25px;
   padding-top: 15px;
}
.nav-full-width {
   width: 98%;
}
.nav-second-level li:last-child {
    margin-bottom: 0px;
}


/*
* App CSS to make application look like canvas
*/
/* Site background color */
.gray-bg, .bg-muted {
    background-color: #FFFFFF;
}

/* Override app background color */
.gray-bg, .bg-muted {
    background-color: #f3f3f4;
}

/*
* Navigation
*/
/* Override navigation color */
.nav-header {
    background-color: #2E3B46;
    color: #FFF;
}

/* Hover state for navigation li */
.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus /*, .navbar-default .nav > li > a:active */{
    color: #2D3B45;
    background-color: #FFF;
}

/* Set li background-color and border */
.nav > li.active {
  border-left: 4px solid #008EE2;
  background-color: #FFF;
}

/* Set active li a color in navigation to black */
.nav > li.active > a {
    color: #000;
}
.navbar-default .nav > li > .nav-reports-second-level {
    background-color: transparent;
    color: #FFF;
}

/* 
* Form Control 
*/
/* Chang form-control to match canvas */
.form-control:focus, .single-line:focus {
    border-color: #008EE2;
}


/*
* Button Styles
*/
/* Updated to match canvas button */
.btn-primary {
  background-color: #FFFFFF;
  border-color: #008EE2;
  color: #008EE2;
}

/* 
* New Report Filter UI Styles 
*/
.full-width {
    width:100%;
}

.filter-form-group {
    width:48%;
}
#filter-question {
   clear:both;
}
.float {
    float:left;
}
.report-filter-radio  {
    margin-top:5px;
    margin-bottom: 5px;
    width: 20%;
}
.radio + .radio, .checkbox + .checkbox {
    margin-top: 5px; 
}
#filter-header h2 {
    width: 120px;
}
#filter-display-controls {
    color: #008EE2;
    cursor: pointer;
}

@media (max-width:1024px) {
    .float{
        clear: both;
    }
    #filter-quarter  {
        text-align: left;
        width:100%;
    }
    #filter-faculty {
        text-align: left;
        width:100%;
    }
    #filter-radio {
        margin-left: 0%;
    }
    .filter-ui-label {
        width:10%;
    }
    .form-control {
        width:75%;
    }
    .report-filter-radio {
        width: 30%;
    }
    .filter-ui-radio {
        padding-left: 25%;
    }
}

@media (max-width:768px) {
    /* clear for mobile layout */
    .filter-ui-right {
        float: none;
    }
    /* expand for mobile layout */
    .form-control {
        width:100%;
    }
    /* expand for mobile layout */
    .filter-form-group {
        width:100%;
    }
}
/* center radio content */
@media (max-width: 400px) {
    .filter-ui-left {
        clear: both;
    }
    #filter-radio {
         padding-left: 45%;
    }
}